<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Dashboard manager</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/index.css') }}">
</head>
<body>
  
  <header class="header">
    <img src="{{ url_for('static', filename='images/lugon.png') }}" alt="lab_logo" class="logo" width="200px"; height="200px">
    <nav class="navbar">
        <a href="/">Home</a>
        <a href="/specialities">Our specialities</a>
        <a href="/services">Our services</a>
        <a href="/patient_log">Patient</a>
        <a href="/logout_m">LOG OUT</a>
    </nav>
</header>
 
  
  <div class="container">
    
    <h1 class="dash_title" style="padding-left:400px ;">Biologist Dashboard </h1>
    <div class="row" style="margin-top:40px ; margin-bottom: 40px;">
      
      <div class="col-md-6 g">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Patients</h5>
            <p class="card-text">4</p>
          </div>
        </div>
      </div>
      <div class="col-md-6 l">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Feedback</h5>
            <p class="card-text">4</p>
          </div>
        </div>
      </div>
      
    </div>
    <h2 class="an">Analyses</h2>
    <table class="table">
      <thead>
          <th>Analysis ID</th>
          <th>Name of technician</th>
          <th>Price</th>
        
      </thead>
      <tbody>
        {% for appointment in all_appointments %}
        <tr>
          <td>{{ appointment.id}}</td>
          <td>Aymen Khamasi</td>
          <td>{{ appointment.analyses.price}}</td>
        </tr>
        {% endfor %}
        
      </tbody>
    </table>
  </div>

</body>
</html>